
.entry-main {
   background-color: #333333;
}

.entry-title, .entry-title a, .entry-author {
   font-family: "Times New Roman", Times, serif;
   font-color: white;
   font-size: 24px;
   
}

.entry-author {
   font-family: "Times New Roman", Times, serif;
   font-color: #D6DBDF;
   font-size: 12px;
}

.entry-body {
	color: white;
}
.read .entry-container .entry-body {
	color: white;
	font-family: "Times New Roman", Times, serif;
	color: white;
	font-size: 16px;
}
.item-body {
   font-family: "Times New Roman", Times, serif;
   color: white;
   font-size: 16px;
}

.item-body a:link {
   

}

